/* Global Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #3b0d68, #a4508b);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Animated Background */
.container {
    position: relative;
    z-index: 10;
}

h1 {
    font-size: 46px;
    font-weight: bold;
    color: color-mix(in srgb, #d71171 60%, #e6e6fa 40%);
}

.click-here{
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
}
.click-here:hover{
    border-radius: 30px;
    background: linear-gradient(#f997a7, #ffc3a0);
}
#click-here{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 780;
    margin-top: 7px;
}
#click-here:hover{
    color: color-mix(in srgb-linear, rgb(107, 10, 10) 75%, rgb(188, 26, 53) 50%);
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh);
        opacity: 0;
    }
}